<!-- ***** About Us Area Start ***** -->
<section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
        <div class="row">

            <!-- About Us Thumbnail -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <span class="line"></span>
                    <img src="~/Assets/img/bg-img/16.jpg" alt="">
                    <span class="line2"></span>
                </div>
            </div>

            <!-- About Us Thumbnail -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="400ms">
                    <span class="line"></span>
                    <img src="~/Assets/img/bg-img/17.jpg" alt="">
                    <span class="line2"></span>
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-lg-4">
                <div class="about-us-content mb-50 wow fadeInUp" data-wow-delay="700ms">
                    <h2>We Have 20+ Years Practical Experience in Agency</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Service Area -->
    <div class="container">
        <div class="service-area mt-80">
            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <i class="icon_film"></i>
                        <h5>Fashion Shows</h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
                        <i class="icon_calendar"></i>
                        <h5>Special Events</h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
                        <i class="icon_camera_alt"></i>
                        <h5>Commercial Photo</h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
                        <i class="icon_house_alt"></i>
                        <h5>Model School</h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->