<!-- ***** CTA Area Start ***** -->
<section class="mona-cta-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content">
                    <h2>Do You Want To Be A Model?</h2>
                    <h6>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</h6>
                    <a href="#" class="btn mona-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->