  <!-- ***** Core Value Area Start ***** -->
<section class="mona-core-value-area bg-gray section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Core Value</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mona-benefits-area mb-80">

                    <!-- Single Benefits Area -->
                    <div class="single-benefits-area d-flex mb-30">
                        <!-- Icon -->
                        <div class="benefits-icon">
                            <i class="icon_box-checked"></i>
                        </div>
                        <!-- Content -->
                        <div class="benefits-content">
                            <h5>Expert Advice</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</p>
                        </div>
                    </div>

                    <!-- Single Benefits Area -->
                    <div class="single-benefits-area d-flex mb-30">
                        <!-- Icon -->
                        <div class="benefits-icon">
                            <i class="icon_like_alt"></i>
                        </div>
                        <!-- Content -->
                        <div class="benefits-content">
                            <h5>Clients Satisfaction</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</p>
                        </div>
                    </div>

                    <!-- Single Benefits Area -->
                    <div class="single-benefits-area d-flex mb-30">
                        <!-- Icon -->
                        <div class="benefits-icon">
                            <i class="icon_calendar"></i>
                        </div>
                        <!-- Content -->
                        <div class="benefits-content">
                            <h5>Planning & Strategy</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="mona-video-area mb-80">
                    <img src="~/Assets/img/bg-img/21.jpg" alt="">
                    <!-- Play Button -->
                    <a href="https://www.youtube.com/watch?v=sSakBz_eYzQ" class="btn video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Core Value Area End ***** -->
